*{
    margin:0;
    padding:0;
    text-align: center;
}

h1{
    height: 4rem;
    line-height:4rem;
    background-color: rgb(6, 2, 73);
    color:white;
}

.choices{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:2rem;
    margin-top:3rem;
    padding:0 1rem;
}

.choice{
    height:165px;
    width:165px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.choice:hover{
    background-color: black;
    cursor:pointer;
}

img{
    width:90%;
    height:90%;
    object-fit:cover;
    border-radius:50%;
}

.score-board{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    gap:3rem;
    margin-top: 2rem;
}

#user-score,#comp-score{
    font-size:3rem;
}

.msg-container{
    margin-top:5rem;
}

#msg{
    display:inline-block;
    max-width:90%;
    background:rgb(2,2,40);
    color:white;
    font-size:clamp(1rem,2.5vw,2rem);
    padding:1rem 1.5rem;
    border-radius:1rem;
}

@media (max-width:768px){

    h1{
        font-size:1.6rem;
        height:3.5rem;
        line-height:3.5rem;
    }

    .choices{
        gap:1rem;
        margin-top:2rem;
    }

    .score-board{
        gap:2rem;
    }

    #msg{
        width:100%;
        max-width:350px;
    }
}